body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  font-family: "elza", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

h2,
h3,
.nav-header,
.Exhibition-info,
footer,
.price,
.card-paddle,
.card-work-shiro {
  font-family: "gambado-sans-forte", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 25px;
  padding: 25px 0 5px;
}

.Exhibition-info {
  text-align: center;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-header {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.nav-container {
  display: flex;
  flex-direction: row;
  padding: 20px 10px 0;
  justify-content: space-between;
}

.nav-container img {
  max-width: 60px;
}

.img-central {
  clip-path: circle(40% at 50% 50%);

}

h1 {
  max-width: 210px;
 padding: 20px 50px 5px;

}

header,
footer {
  background-image: url(../img/1x/bg-header-100.jpg);
}

hr {
  border: solid 0.75px black;
}

.card-product {
  background-color: #f5e2d9;
  clip-path: circle(28.3% at 47% 53%);
  max-width: 100px;
  text-align: center;
  padding: 40px;
}

.card-product a {
  text-decoration: underline;
}

.card-work-shiro {
  background-color: #e9be96;
  max-width: 200px;
  clip-path: circle(40% at 50% 50%);
  padding: 60px;
  font-size: 15px;
}

.card-paddle {
  padding: 60px;
  max-width: 100px;
  clip-path: circle(40% at 50% 50%);
}

.card-paddle-50 {
  background-color: #aca036;
}

.card-paddle-60 {
  background-color: #fce04e;
}

.card-paddle-70 {
  background-color: #fc7f49;
}

.newson-chair p {
 padding: 0;
}

footer {
  padding: 0 40px 25px;
}

.button-footer {
  padding: 25px 0 50px;
  font-size: 15px;
  border: solid 0.75px black;
  border-radius: 50%;
}